* {
    transition: all 0.25s;
}
body {
    margin: 0;
    padding: 0;
    background: steelblue;
    background-image: url("https://i.giphy.com/media/BHNfhgU63qrks/giphy.webp");
    /*
    "https://media.tenor.com/EbZAp_oLAcYAAAAC/astronaut.gif"
    
    "https://wallpaperaccess.com/full/2825704.gif"
    "https://i.pinimg.com/originals/68/31/45/6831454cf213ed7ffa541fe666fa9cf8.gif"
    "https://i.pinimg.com/originals/68/31/45/6831454cf213ed7ffa541fe666fa9cf8.gif"
    */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 120%;
}
#head-game {
    width: 70vh;  
    min-height: 120px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.option {
    width: 60vh;
    cursor: pointer;   
}
.option:hover {
    background-color: teal;
}

#head-game, .option {
    background: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#head-game img {
    width: 20%;
    height: 60%;
    object-fit: contain;
}
.btn {
    margin-top: 10px;
}

.table-game {
    width: 90vh;
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
}